@import "tailwindcss";
  
.font-noto {
    font-family: var(--font-noto-serif), serif;
    letter-spacing: -0.02em;
}

.font-newsreader {
    font-family: var(--font-newsreader), serif;
    letter-spacing: -0.02em;
}

.font-cormorant {
    font-family: var(--font-cormorant), serif;
    letter-spacing: -0.02em;
}